*{
	box-sizing: border-box;

}

.btn{
	padding: 15px 20px;
	color: white;
	background-color: black;
	border: none;
	opacity: 0.5;
	transition: 0.5;
}
.btn:hover{
	opacity: 1;
}
.mydiv{
	margin-top: 30px;
	width: 500px;
	height: 500px;
	border: 1px solid black;
}


